mysql:
    container_name: simple-shop_mysql
    image: mysql:5.7
    ports:
        - "3306:3306"
    mem_limit: 512m
    volumes:
        - /var/lib/mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
        MYSQL_ROOT_PASSWORD: $DB_PASS
        DB_USER: $DB_USER
        DB_NAME: $DB_NAME

fpm:
    container_name: simple-shop_fpm
    build: docker/php-fpm/
    volumes:
        - ./:/var/www
    volumes_from:
        - mysql
    links:
        - mysql:mysql
    ports:
        - "80:80"
docker:
    image: "docker:18.06.1-ce"
    links:
        - fpm:fpm
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    volumes_from:
        - fpm
    command: sh /var/www/init.sh

