{% extends "layout.html.twig" %}

{% use "bootstrap_4_layout.html.twig" %}

{% block body %}

    <body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include 'navbar.html.twig' %}
        {% include 'sidebar.html.twig' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content_header %}{% endblock %}

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    {% block page_content %}{% endblock %}
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}

    </div>
    <!-- 123 -->
    {% block javascripts %}
        {{ encore_entry_script_tags('admin_js') }}
    {% endblock javascripts %}
    <!-- 123 -->

    {% for key, flash_message in app.session.flashBag.all %}

        <script>
            new PNotify({
                title: "{{ key }}",
                text: "{{ flash_message[0] }}",
                type: "{{ key }}",
                styling: 'bootstrap3'
            });
        </script>
    {% endfor %}

    {% block modals %}{% endblock modals %}

    </body>
{% endblock body %}
