{% extends "layout.html.twig" %}

{% use "bootstrap_3_layout.html.twig" %}

{% block body %}

    <body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include 'navbar.html.twig' %}
        {% include 'sidebar.html.twig' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Starter Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Starter Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    {% block page_content %}{% endblock %}
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}

    </div>
    <!-- 123 -->
    {% block javascripts %}
        {{ encore_entry_script_tags('admin_js') }}
    {% endblock javascripts %}
    <!-- 123 -->

    {% for key, flash_message in app.session.flashBag.all %}

        <script>
            new PNotify({
                title: "{{ key }}",
                text: "{{ flash_message[0] }}",
                type: "{{ key }}",
                styling: 'bootstrap3'
            });
        </script>
    {% endfor %}

    {% block modals %}{% endblock modals %}

    </body>
{% endblock body %}
